<!DOCTYPE html>
<html>
  <head>
    <title>FlashSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <%= render 'layouts/navigation_head' %>
  <div class="container">
    <body>
      <div>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end %>
      </div>
      <%= yield %>
    </body>
  </div>
</html>
